= "#{@order.last_name} #{@order.first_name}様"
= "\n"
= "\n"
| この度は、ご注文いただきありがとうございます。
= "\n"
| 下記の内容でご注文処理が完了致しましたので、お知らせいたします。
= "\n"
= "\n"
| お客様情報
= "\n"
= "名前：#{@order.last_name} #{@order.first_name}様"
= "\n"
= "メールアドレス：#{@order.email_address}" 
= "\n"
= "郵便番号：#{@order.postal_code}" 
= "\n"
= "国：#{@order.country.name}" 
= "\n"
= "県：#{@order.city.name}"
= "\n"
= "住所：#{@order.address}"
= "\n"
= "注文日：#{@order.created_at.strftime('%Y/%m/%d')}"
= "\n"
= "\n"
| 注文商品
= "\n"
- @order.order_items.each do |item|
  = "商品名：#{item.item_name}"
  = "\n"
  = "価格：￥#{item.price.to_fs(:delimited)}"
  = "\n"
  = "数量：#{item.quantity}個"
  = "\n"
  = "-----------------------------------"
  = "\n"
= "合計：￥#{@order.total_price.to_fs(:delimited)}"